  /* font-family: "Montserrat", sans-serif;
    font-family: "Playfair Display", serif;
     font-family: "Inter", sans-serif; */

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  :root {
      --bg-color: #2D1E16;
      --font-color: #faf9db;
      --deep-font-color: #acbb9f;
      --logo-font: 'League Spartan', sans-serif;
      --stylish-font: 'Lobster', cursive;
      --nav-stylish-font: 'Lobster Two', cursive;
      --tiny-font: 'poppins', sans-serif;
  }


  body {
      background:
          radial-gradient(circle at top left,
              #5b40319f 0%,
              rgba(91, 64, 49, 0.233) 10%,
              transparent 35%),
          radial-gradient(circle at bottom right,
              #6a4c3a6e 0%,
              rgba(106, 76, 58, 0.35) 15%,
              transparent 70%), #2D1E16;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      color: var(--font-color);
      padding: 0px 20px;
      /* overflow: hidden; */
      /* background-image: ; */
  }

  nav {
      display: flex;
      justify-content: center;
      position: fixed;
      justify-self: center;
      width: 100%;
      z-index: 100;
  }

  nav h2 {
      position: absolute;
      left: 60px;
      top: 33px;
      font-family: var(--logo-font);
      font-size: 51px;
      font-weight: 700;
      letter-spacing: 10px;
  }

  .nav-links ul {
      display: flex;
      gap: 80px;
      margin-top: 35px;
  }

  .nav-links li {
      list-style: none;
      color: var(--font-color);
      font-size: 25px;
      font-family: var(--nav-stylish-font);
      font-style: italic;
      font-weight: 400;
      transition: 0.4s;
  }

  .nav-links label:hover {
      color: var(--deep-font-color);
      cursor: pointer;
  }

  /* SLIDE EFFECT  */
  #home:checked~.slide-track {
      transform: translateX(0vw);
  }

  body:has(#home:checked) .dot-one {
      opacity: 100%;
  }

  #menu:checked~.slide-track {
      transform: translateX(-100vw);
  }

  body:has(#menu:checked) .dot-two {
      opacity: 100%;
  }

  #prices:checked~.slide-track {
      transform: translateX(-200vw)
  }

  body:has(#prices:checked) .dot-three {
      opacity: 100%;
  }

  #about:checked~.slide-track {
      transform: translateX(-300vw);
  }

  body:has(#about:checked) .dot-four {
      opacity: 100%;
  }

  /* HERO-SECTION */
  .slide-container {
      display: flex;
      width: 100vw;
      height: 96vh;
      justify-items: center;
      /* overflow:hidden; */
  }

  .slide-container input {
      display: none;
  }

  .slide-track {
      width: 300vw;
      display: flex;
      transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
      scrollbar-width: none;
  }

  .slide-track::-webkit-scrollbar {
      display: none;
      outline: none;
  }

  .hero-container {
      display: block;
      width: 100vw;
  }

  .hero-section {
      display: flex;
      gap: 30px;
      justify-content: center;
      align-items: center;
      height: 100%;
  }

  .hero-text {
      text-align: center;
      margin-top: -60px;
  }

  .hero-text h2 {
      font-size: 60px;
      font-family: var(--logo-font);
      font-weight: 700;
      letter-spacing: 15px;
      color: var(--deep-font-color);
  }

  .hero-text h1 {
      font-family: var(--stylish-font);
      font-size: 160px;
      font-weight: 800;
      letter-spacing: 10px;
  }

  .hero-text h4 {
      font-size: 22px;
      font-family: var(--tiny-font);
      font-weight: 500;
      letter-spacing: 9px;
  }

  .hero-img img {
      width: 1000px;
      margin-top: -20px;
      /* margin-left:-50px; */
  }

  .img-list {
      display: flex;
      gap: 40px;
      position: absolute;
      left: 250px;
      bottom: 180px;
  }

  .img-list img {
      width: 90px;
      height: 90px;
      border-radius: 10px;
      transition: all 0.5s;
  }

  .img-list img:hover {
      transform: scale(1.06) translateY(-5px);
  }

  .page-dots {
      display: flex;
      position: fixed;
      gap: 30px;
      width: fit-content;
      justify-self: center;
      bottom: 90px;
  }

  .dot {
      background-color: grey;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      opacity: 40%;
      transition: 0.6s ease-out;

  }


  /* MENU */
  .menu-container {
      align-self: center;
      width: 100vw;
      justify-items: center;
      /* position: relative; */
  }

  #menu-bg {
      position: absolute;
      top: 0;
      right: 380px;
      margin-top: -20px;
      transition: 0.5s ease-out;
  }

  #menu-bg:hover {
      transform: scale(1.05);
  }

  .dish-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 60px;
      margin: 40px 40px;
  }

  .menu-container h2 {
      font-size: 50px;
      font-family: var(--logo-font);
      font-weight: 700;
      letter-spacing: 15px;
  }

  .dish {
      background-color: rgba(128, 128, 128, 0.185);
      backdrop-filter: blur(10px);
      border-radius: 20px;
      height: 250px;
      width: 200px;
      opacity: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      position: relative;
      overflow: hidden;
  }

  .dish img {
      width: 90%;
      margin-top: 20px;
      transition: all 0.4s ease-out;
  }

  .dish-name {
      font-family: var(--tiny-font);
      font-size: 20px;
      justify-self: center;
      font-weight: 500;
      letter-spacing: 4px;
      position: absolute;
      bottom: 20px;
  }

  .dish-three img {
      width: 120%;
  }

  .dish-eight img {
      width: 100%;
  }

  .dish img:hover {
      transform: scale(1.10);
  }



  /* PRICING */
  .price-container {
      align-self: center;
      width: 100vw;
      justify-items: center;
  }

  .price-box {
      border: 1px dashed var(--font-color);
      padding: 40px;
      border-radius: 30px;
      width: 45%;
      height: auto;
  }

  .price-box h2 {
      font-size: 50px;
      font-family: var(--logo-font);
      font-weight: 700;
      letter-spacing: 15px;
      text-align: center;
      margin-top: 15px;
  }

  .meal-item {
      display: flex;
      justify-content: space-between;
      font-family: var(--logo-font);
      font-weight: 600;
      font-size: 30px;
      margin-top: 20px;
  }

  .meal-price {
      color: #f1a125;
      /* margin-top:20px; */
  }

  .price-box span {
      font-family: var(--tiny-font);
      font-size: 20px;
      padding-bottom: 50px;
      font-weight: 100;
  }

  /* ABOUT US */
  /* .about-us-container {
    width: 100vw;
  } */